@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  background: linear-gradient(45deg, #4bbfef 0%, #025bfa 100%);
}

.app-container {
  height: 90vh;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  z-index: 2;
}

svg {
  width: 50px;
  height: 50px;
  display: flex;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  height: 37px;
  margin: 0 auto;
  padding: 0 14px;
  cursor: pointer;
  border-radius: 3px;
  outline: 0;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
  &:active {
    box-shadow: 0 4px 6px rgba(33, 16, 118, 0.11), 0 1px 3px rgba(33, 16, 118, 0.1);
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

pre {
  text-align: left;
}
